.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}
.thumbnail-row{
    margin-bottom: 10px;
}
.thumbnail {
    width: 100%;
}
.search-bar{
    display: block;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channel-pic{
    vertical-align: top;
}
.profile-pic{
    width: 42px;
    border-radius: 50px;
}
.video-title{
    margin-top: 0px;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 4px;
}
.video-author{
    color: rgb(96, 96, 96);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2px;
}
.video-stats{
    color: rgb(96, 96, 96);
    font-size: 14px;
    font-weight: 400;
}